* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.ball {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 50px auto;

    display: grid;
    place-content: center;
    font-size: 22px;
    font-weight: bold;

    transition: 1s;
}

.ball1 {
    background-color: rgb(255, 0, 0);
}

.ball2 {
    background-color: rgb(0, 255, 0);
}

.ball3 {
    background-color: rgb(0, 0, 255);
}