* {
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.ball {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: red;
    margin: 50px auto;

    display: grid;
    place-content: center;
    font-size: 22px;
    font-weight: bold;

    transition: 1s;
}

.ball1 {
    background-color: red;
}

.ball2 {
    background-color: blue;
}

.ball3 {
    background-color: green;
}